.drop {
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
}

.light-theme .drop {
	border: 3px solid white;
}

.dark-theme .drop {
	border: 3px solid black;
}

.color-result-container {
	display: flex;
	flex-direction: row;
	gap: 1rem;
	text-align: end;
	font-size: 1.3rem;
	margin-bottom: -1rem;

	> div {
		display: flex;
		flex-direction: column;
		height: 100px;
		justify-content: center;

		* {
			margin-bottom: 1rem;
		}
	}

	@media (max-width: 800px) {
		font-size: 1.1rem;
	}
}
